<!DOCTYPE html>
<html lang="en">
<%- include ("../part/head")%> 
<body>
    <header>
        <%- include ("../part/header")  %> 
    </header>
    <%- include ("../part/header")  %> 
    <main class="center">
        <img src="/public/img/svg/upload-svgrepo-com.svg" alt="proj" height="100px" style="padding-bottom: 20px;">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input class="m-t-20 input" type="submit" value="Upload">
        </form>
    </main>
</body>
</html>