<!DOCTYPE html>
<html lang="en">
<%- include ("../views/part/head") %> 
<body>
    <%- include ("../views/part/header")%> 
    <header>
        <div class="header">
            <div class="brand">
                <div class="logo">
                    <a href="/">
                        <h1>melsen</h1>
                        <h1 class="css" style="color: rgb(0,228,255);">#</h1>
                    </a>
                    <small>melsencorp</small>
                </div>
                <div class="version">
                    <!-- <small>v0.1</small> -->
                </div>
            </div>
        </div>
    </header>
    <h1 class="title p-l">Directory</h1>
    <div class="row m-10 dir" style="color : black;">
        <ul id="files" class="view-tiles">
            <li><a href="/api" title="api"><img src="/public/img/folder.png" alt="" srcset="" height="50px"><span class="name">api</span><span class="size">
            <li><a href="/ipa" title="api"><img src="/public/img/folder.png" alt="" srcset="" height="50px"><span class="name">ipa</span><span class="size">
            <li><a href="/ips" title="api"><img src="/public/img/folder.png" alt="" srcset="" height="50px"><span class="name">ips</span><span class="size">
            <li><a href="/bahasa" title="api"><img src="/public/img/folder.png" alt="" srcset="" height="50px"><span class="name">bahasa</span><span class="size">
            <li><a href="/informatika" title="api"><img src="/public/img/folder.png" alt="" srcset="" height="50px"><span class="name">informatika</span><span class="size">
        </ul>
</body>
    </div>
</body>
</html>