<% articles.forEach(article => { %>
    <h3><%= article.title %></h3>
    <hr>
    <small><%= article.createdAt %></small>
    <p><%= article.description %></p>
    <a href="/data/pdf/ASAL USUL NENEK MOYANG INDONESIA (3).pdf">read more</a>
<% }) %> 