<h1>Metode dalam Sejarah</h1>
<p>
    <b>Metode sejarah</b> merupakan suatu sistem
prosedur yang benar untuk pencapaian kebenaran
melalui tahapan heuristik, kritik, interpretasi, dan
historiografi. Tahapan-tahapan dalam metode
sejarah dilakukan setelah penentuan topik
penelitian dan perumusan permasalahan dan
pertanyaan penelitian sejarah.
</p>
<p>
    <b>Tujuan</b> dari metode sejarah adalah mengumpulkan sumber-sumber seja <br>
secara efektif, menilainya secara kritis, dan menyajikan suatu sintesis tertulis <br>
atas hasil yang dicapai.
</p>
<p>
    <b>Metode sejarah</b> adalah hal-hal yang dilakukan untuk meneliti kembali
peristiwa-peristiwa yang pernah terjadi di masa lampau ataupun bisa
dikatakan seluruh penelitian yang dilakukan demi mengetahui fakta yang ada
pernah ada dikejadian masa lampau.
</p>
<a href="#kritik-sumber">Kritik sumber</a>
<a href="#tahapan">Tahapan</a>
<a href="#persiapan">Persiapan</a>
<a href="#heuristik">Heuristik</a>
<a href="#kritik">Kritik</a>
<a href="#interpretasi">Interpretasi</a>
<a href="#historiografi">Historiografi</a>
<br>
<hr>
<div id="kritik-sumber">
    <h1>Kritik Sumber</h1>
    <p>
        Kritik sumber (atau evaluasi informasi) adalah proses mengevaluasi kualitas dari sumber informasi, seperti validitas, reliabilitas, dan relevansi terhadap subjek yang sedang diteliti.
    </p>
    <p>
        Gilbert J Garraghan membagi kritik sumber menjadi enam bagian: <br>
1. Kapan sumber, tertulis atau tidak, dibuat (tanggal)? <br>
2. Dimana sumber, dibuat (lokalisasi)?<br>
3. Oleh siapa sumber dibuat (kepenulisan)?<br>
4. Dalam bentuk asli apa itu dibuat (integritas)?<br>
5. Apa nilai bukti dari isinya (kredibilitas)?<br>
    </p>
</div>
<hr>
<div class="kesimpulan">
    <h1>KESIMPULAN</h1>
    <p>
        Metode sejarah adalah langkah-langkah yang <br>
digunakan dalam penelitian sejarah. Tujuan dari <br>
metode sejarah adalah mengumpulkan sumber- <br>
sumber sejarah secara efektif, menilainya secara <br>
kritis, dan menyajikan suatu sintesis tertulis atas hasil
yang dicapai.
    </p>
</div>
<hr>
<div class="group">
    <h1>NAMA</h1>
    <ul>
        <li>Jonathan Melsen S</>
        <li>Almaidah</>
        <li>Lintang</>
        <li>Dimas</>
    </ul>
</div>
<small>soruce : wikipedia</small>