<!DOCTYPE html>
<html lang="en">
<%- include ("./part/head")%> 
<style>


*,html,body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color:#000000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.ads {
    background-color: rgb(22,24,29);
    text-align: center;
    height: 8vh;
    color: white;
    font-size: 2%;
    padding-top: 1%;
    font-size: xx-large;
    font-weight: 300;
}

.ads a {
    color: #61DAFB;
    text-decoration: none;
}

.header {
    padding: 5vh;
    height: 8vh;
    margin-bottom: 0;
    font-size: smaller;
}

.brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo a {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    text-decoration: none;
}

.logo small {
    color: rgb(0,228,255);
}

.version {
    color: rgb(0,228,255);
}

.main{background: url() #0f1011;background-repeat: no-repeat; background-position-x: 50%;background-size: 30vmax;background-position-y: 38%;text-align: center; font-size: 200%; padding-top: 15vh;margin-top: 15vh; padding-bottom: 8%;}
.title p {font-size: 50%; color: #555; padding-top: 2vh;}.title h1 {color: rgb(0, 229, 255); font-size: 100%;}
.link{display: flex; flex-direction: row; text-align: center; padding-top: 5vh; justify-content: center;padding: 5%;padding-bottom: 0%;}
.start a {background-color: rgb(0, 195, 255); text-decoration: none; margin-right: 2vh; color: black; padding: 16px 22px;font-size: 65%;}.link{margin-top: 15vh}
.start a:hover { background-color: white; color: black; transition:0.4s ; -webkit-transition:0.4s ; -moz-transition:0.4s ; -ms-transition:0.4s ; -o-transition:0.4s ; }
.tutorial a {color: rgb(0,195,255); text-decoration: none;font-size: 65%;}
.tutorial a:hover { color: white; transition: 0.4s; -webkit-transition: 0.4s; -moz-transition: 0.4s; -ms-transition: 0.4s; -o-transition: 0.4s; }

/* info */

.info {margin: 8%; display: flex; flex-direction: row; font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif; /*Overflow-x:scroll; width: -5px;height: -10px;*/}
.info h1 {color: rgb(109,111,151); font-weight: 260; font-size: 4vh;}
.info a {color: black; background-color: rgb(234,250,254); text-decoration: underline rgb(109,111,151);}.info a:hover {background-color: #61dafb96;text-decoration: underline rgb(0, 0, 0);}
.declarative {width: 75%;}.declarative p {font-size: 20px; font-weight: 400; padding-top: 4vh;}
.component {width: 75%; padding-left: 3%;}.component p {font-size: 20px; font-weight: 400;; padding-top: 4vh;}
.learn {width: 100%;}.learn p {font-size: 20px; font-weight: 400; padding-top: 4vh;}

/*  */

.logo h1:hover { padding-right: 5px; transition: 0.10s ; -webkit-transition: 0.10s ; -moz-transition: 0.10s ; -ms-transition: 0.10s ; -o-transition: 0.10s ; content: "Background text"; }
.logo h1 {transition: 0.10s ; -webkit-transition: 0.10s ; -moz-transition: 0.10s ; -ms-transition: 0.10s ; -o-transition: 0.10s ;}
.qrcode canvas{height: 100px;}

/* link */
.row {
    display: flex;
}
.col {
    margin-top: 10px;
    margin-right: 10px;
    flex-direction: row;
}
hr {
    margin-top: 20px;
    margin-bottom: 5px;
    border-top: solid 5px black;
}
</style>
<body>
    <header>
        <!-- <div class="ads">
            <span>Support Ukraine 🇺🇦</span>
            <a href="https://opensource.fb.com/support-ukraine">Help Provide Humanitarian Aid to Ukraine.</a>
        </div> -->
        <div class="header">
            <div class="brand">
                <div class="logo">
                    <a href="/">
                        <h1>melsen</h1>
                        <h1 class="css" style="color: rgb(0,228,255);">#</h1>
                    </a>
                    <small>melsencorp</small>
                </div>
                <div class="version">
                    <!-- <small>v0.1</small> -->
                </div>
            </div>
        </div>
    </header>
    <!-- start -->
    <div class="main">
        <div class="title">
            <div class="name">
                <a onclick="change()">
                    <h1></h1>
                    <a href="/" style="color: white; font-size: 15px; text-decoration: none;">www.melsencorp.com</a>
                    <p>&copy 2022-<span id="year"></span></p>
                    <script type="text/javascript">
        				document.getElementById('year').innerHTML = (new Date().getFullYear());
                    </script>
                </a>
            </div>
            <div class="link">
                <div class="start">
                    <a href="/ips">Get Started</a>
                </div>
                <div class="tutorial">
                    <a href="/melsen">message for us</a>
                </div>
            </div>
        </div>
    </div>
    <!-- info -->
    <div class="info">
        <div class="learn">
            <h1>MelsenCorp</h1>
            <div class="row">
                <div class="col">
                    <img src="/public/img/svg/atom-cube-svgrepo-com.svg" alt="" style="width: 78.8303px; height: 264.821px; border-width: 1px; top: 291.918px; left: 27.0979px;">
                </div>
                <div class="col">
                    <p>Hii.. Kami  adalah perusahan kecil yang bergerak di bidang 
                    <i><u><a href="https://en.wikipedia.org/wiki/Information_technology" title = "wikipedia">information and technology</a></u></i>.</p>
                    <hr>
                    <a href="https://github.com/melsen888">Github</a> | <a href="/">Facebook</a> | <a href="https://t.me/melsencorp">Telegram</a>
                </div>
            </div>
        </div>
    </div>
    <main>
        
    </main>
</body>
</html>