body {
    margin: 0;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
nav{position: fixed; top: 0%; width: 100%; background: #000; color: white; padding: 10px;}a{text-decoration: none; color: rgb(255, 255, 255);}
main{padding-top: 100px;}
.input {
    text-align: center;
}
.input input {
    transition: width 0.5s ;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(2, 240, 141, 0.754);
    border: 1px solid rgba(2, 240, 141, 0.754);
    -webkit-transition: width 0.5s ;
    -moz-transition: width 0.5s ;
    -ms-transition: width 0.5s ;
    -o-transition: width 0.5s ;
    outline: none;

}

.input input[type=text] {
    color:rgba(226, 40, 239, 0.687);
    font-size: larger;
    font-weight: 300;
}

.input input:hover[type=text] {
    color:rgba(2, 240, 141, 0.897);
    font-size: larger;
    font-weight: 300;
}

::placeholder {
    color: rgba(226, 40, 239, 0.687);
    font-weight: 300;
}

.input input:hover {
    transition: width 0.3s ease-in-out;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-shadow: 3px 3px 2px rgba(226, 40, 239, 0.687);
    border: 1px solid rgba(226, 40, 239, 0.687);
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}
.input-f input {
    font-size: medium;
    transition: width 0.5s ;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(2, 240, 141, 0.754);
    border: 1px solid rgba(2, 240, 141, 0.754);
    -webkit-transition: width 0.5s ;
    -moz-transition: width 0.5s ;
    -ms-transition: width 0.5s ;
    -o-transition: width 0.5s ;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input-f input:hover {
    transition: width 0.3s ease-in-out;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-shadow: 3px 3px 2px rgba(226, 40, 239, 0.687);
    border: 1px solid rgba(226, 40, 239, 0.687);
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: width 0.3s ease-in-out;
    -moz-transition: width 0.3s ease-in-out;
    -ms-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
}
.input textarea {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: width 0.5s ;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    width: 80%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(2, 240, 141, 0.754);
    border: 1px solid rgba(2, 240, 141, 0.754);
    -webkit-transition: width 0.5s ;
    -moz-transition: width 0.5s ;
    -ms-transition: width 0.5s ;
    -o-transition: width 0.5s ;
    outline: none;
}

.input textarea[type=text] {
    color:rgba(226, 40, 239, 0.687);
    font-size: larger;
    font-weight: 300;
}

textarea {
    color:rgba(226, 40, 239, 0.687);
    font-size: larger;
    font-weight: 300;
}

textarea:hover{
    color:rgba(2, 240, 141, 0.897);
    font-size: larger;
    font-weight: 300;
}

textarea:hover {
    transition: width 0.5s ;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(2, 240, 141, 0.754);
    border: 1px solid rgba(2, 240, 141, 0.754);
    -webkit-transition: width 0.5s ;
    -moz-transition: width 0.5s ;
    -ms-transition: width 0.5s ;
    -o-transition: width 0.5s ;
    outline: none;
}

.row {
    flex-direction: row;
}

.p-t {
    padding-top: 10%;
}

.p-l {
    padding-left: 10%;
    padding-top: 5%;
}

.m-10 {
    margin: 10%;
}

a {
    color: #000;
}

.dir {
    font: 13px "Helvetica Neue", "Lucida Grande", "Arial";
    color: #555;
    -webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    outline: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid #cacaca;
}

.icon-directory {
    background-image: url("../img/folder.png");
}

.flex {
    display:flex;
}

.center {
    text-align: center;
}

input[type="submit"] {
    transition: width 0.5s ;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 3px 3px 2px rgba(2, 240, 141, 0.754);
    border: 1px solid rgba(2, 240, 141, 0.754);
    -webkit-transition: width 0.5s ;
    -moz-transition: width 0.5s ;
    -ms-transition: width 0.5s ;
    -o-transition: width 0.5s ;
    outline: none;
}


.m-t-20 {
    margin-top: 20px;
}

input[type="file"] {
    transition: width 0.5s ;
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-transition: width 0.5s ;
    -moz-transition: width 0.5s ;
    -ms-transition: width 0.5s ;
    -o-transition: width 0.5s ;
    outline: dashed;
}

.btn button {
    margin-top: 20px;
    padding: 15px;
    font-size: medium;
    margin-bottom: 10px;
    outline: none;
    background-color:rgba(226, 40, 239, 0.687);
    box-shadow: 3px 3px 2px rgba(2, 240, 141, 0.754);

    border: none;
}

.btn button:hover {
    transition: 0.3s;
    padding: 15px;
    font-size: medium;
    margin-bottom: 10px;
    outline: none;
    background-color:rgba(2, 240, 141, 0.754);
    box-shadow: 3px 3px 2px rgba(226, 40, 239, 0.687);
    border: none;
    -webkit-animation: infinite 2s ease-in-out;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.p-l-30 {
    padding-left: 15%;
    padding-right: 15%;
}

.a a {
    margin-top: 20px;
    padding:15px;
    color: blue;
    font-size: medium;
}

.itm {
    display: flex;
    justify-content: space-between;
}

hr {
    margin-top: 20px;
    margin-bottom: 5px;
    border-top: solid 5px black;
}

p {
    margin: 0;
    padding: 0;
}

