<pre><font color="#586E75"><b>server@server</b></font>:<font color="#839496"><b>~/Desktop/site/ejs</b></font>$ npm start

&gt; melsen@1.0.0 start
&gt; nodemon app.js

<font color="#B58900">[nodemon] 2.0.19</font>
<font color="#B58900">[nodemon] to restart at any time, enter `rs`</font>
<font color="#B58900">[nodemon] watching path(s): *.*</font>
<font color="#B58900">[nodemon] watching extensions: js,mjs,json</font>
<font color="#859900">[nodemon] starting `node app.js`</font>
</pre>
melsen: {
  nama: <font color="#859900">&apos; ♡˖꒰ᵕ༚ᵕ⑅꒱&apos;</font>,
  pesan: <font color="#859900">&apos;Lebih spesial dari nasi goreng, lebih indah dari purnama. Ya, jika kamu yang temani akhir hidupku. HAHA bercanda yaampun, tapi kl mau beneran jg gpp si HAHAHA kiww&apos;</font>
}
</pre>
<pre>
melsen: {
  nama: <font color="#859900">&apos;melsen&apos;</font>,
  pesan: <font color="#859900">&apos;haloo melsen ga ada niatan cari cewe baru gitu?&apos;</font>
}
</pre>
<pre>melsen: { nama: <font color="#859900">&apos;Cewe lucu&apos;</font>, pesan: <font color="#859900">&apos;cepet confess ke ***** jo&apos;</font>}  <p style="color: white;">**kamu gak boleh tau aku sensor ya...</p>.
</pre>
<pre>melsen: { nama: <font color="#859900">&apos;Gabut &apos;</font>, pesan: <font color="#859900">&apos;hi!&apos;</font> }</pre>
<pre>melsen: { nama: <font color="#859900">&apos;Jojo&apos;</font>, pesan: <font color="#859900">&apos;Terima kasih telah berbelanja dishopee&apos;</font> }</pre>
<pre>melsen: { nama: <font color="#859900">&apos;#nggapenting&apos;</font>, pesan: <font color="#859900">&apos;Tutor cara pinternya dung kakaa&apos;</font> }</pre>
<pre>melsen: {
  nama: <font color="#859900">&apos;HI!&apos;</font>,
  pesan: <font color="#859900">&apos;Tak kenal maka tak sayang,awokaowk bercanda brother.&apos;</font>
}
</pre>
<pre>melsen: { nama: <font color="#859900">&apos;gatau&apos;</font>, pesan: <font color="#859900">&apos;bang bisa nggak ngehack nasa pake HTML ?&apos;</font> }
</pre>
<pre>melsen: { nama: <font color="#859900">&apos;al&apos;</font>, pesan: <font color="#859900">&apos;meledak ga&apos;</font> }</pre>
<pre>melsen: { nama: <font color="#859900">&apos;gak punya nama &apos;</font>, pesan: <font color="#859900">&apos;pesan saya adalah&apos;</font> }</pre>
<pre>melsen: { nama: <font color="#859900">&apos;hi&apos;</font>, pesan: <font color="#859900">&apos;apakah ini buat sendiri ? 😱😱&apos;</font> }
</pre>