<!DOCTYPE html>
<html lang="en">
<%- include ("../part/head")%> 
<body>
    <header>
        
    </header>
    <main>
        <h1>>/<</h1>
        <p>melsencorp.</p>
        <hr>
        <!-- <p>ketikan pesan untuk saya :D</p> -->
        <%- include("../form/melsen") %>
        <summary>
          <!-- Terminal -->
          <!-- <details style="background: black; color: green;">
            <%- include("./terminal/terminal") %>
          </details> -->
        </summary>

    </main>
</body>
</html>